SensorCloud/out
Onkyo/out
JvcProjector/out
P1Meter/obj
P1Meter/bin
NNTP/obj
NNTP/bin
SpotNet/obj
SpotNet/bin
SensorCloud/Properties
config.json
.vs
*.user
appsettings.json
appsettings.Development.json
out